@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@600&display=swap");

:root {
	--color-default: #000;
	--color-brown: #cc894d;
	--darkBlue: #181824;
	--color-white: #fff;
	--color-darkBlue: #25273c;
}

:root {
	--font-default: "Montserrat", sans-serif;
	--font-title: "Open Sans", sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--font-default);
}

body {
	background-image: url("./components/books.jpg");
	height: 100vh;
}

.gradient {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	/* background: linear-gradient(to right, green, red); */
	background: linear-gradient(to right, #31179c, #4a37b7, #6b36ac, #5d1986, #701b79);
	opacity: 0.8;
	height: 100%;
	z-index: 20;
	/* width: 100%; */
	/* background: linear-gradient(); */
}

.solid-color-container {
	position: absolute;
	background-color: var(--darkBlue);
	z-index: 30;
	top: 300px;
	width: 100%;
	height: 100vh;
}

.todo-main {
	color: var(--color-white);
	background: transparent;
	/* background-color: #cc894d; */
	width: 36%;
	margin: -220px auto;
	height: 20vmax;
	padding: -10px;
}

.todo-header {
	display: flex;
	justify-content: space-between;
	padding: 0 25px;
}

.todo-header h4 {
	font-size: 2rem;
	letter-spacing: 10px;
}

.theme-btn {
	font-size: 2.5rem;
}

.todo-input {
	display: flex;
	width: 94%;
	background-color: var(--color-darkBlue);
	padding: 20px 30px;
	justify-content: space-around;
	margin: 30px auto;
}

/* The container */
.container {
	display: block;
	position: relative;
	padding-left: 25px;
	top: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}

.container:hover input ~ .checkmark {
	background-color: #ccc;
}

.container input:checked ~ .checkmark {
	background: linear-gradient(0.25turn, rgba(0, 255, 255, 0.815), #7fa4eb, #5d1986);
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after {
	display: block;
}

.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Text Input */
.text-input {
	width: 100%;
	padding: 0.3rem;
	padding-left: 0.5rem;
	border: 0;
	font-size: medium;
	background: transparent;
	color: var(--color-white);
	border: 1px solid rgba(128, 128, 128, 0.24);
	border-radius: 10px;
}

.text-input:focus,
.text-input:hover,
.text-input.active {
	outline: none;
}

/* Todo */
.todo-empty {
	text-align: center;
	padding: 2.5% 5%;
}
.todo-empty p {
	font-size: 1.2rem;
	padding: 1% 2%;
	letter-spacing: 2px;
	line-height: 2;
}

.todos-container {
	background-color: var(--color-darkBlue);
	width: 94%;
	margin: 0 auto;
}

.todo-border {
	width: 100%;
	padding: 10px 30px;
	border-bottom: 1px solid rgba(175, 173, 173, 0.24);
}

.todos {
	display: flex;
	margin-bottom: 5px;
	/* border-bottom: 0.1px solid grey; */
	color: lightgray;
	/* padding: 0.2rem; */
	font-weight: 600;
	/* padding: 10px; */
}

.todo-item {
	padding: 0.4rem;
	font-size: 1.1rem;
	width: 100%;
}

.strike-through {
	text-decoration: line-through;
	color: rgba(128, 128, 128, 0.575);
}

.star {
	font-size: 2vmax;
	margin: 0 1vmin 0 0;
}

.remove-todo {
	margin: 5px 0 0 auto;
	font-size: 1.1rem;
	cursor: pointer;
}

/* Mini Nav */
.mini-nav {
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;
	color: rgba(128, 128, 128, 0.895);
	cursor: pointer;
}

.todo-type ul,
.mobile-todo-type ul {
	display: flex;
	list-style-type: none;
}
.todo-type ul a,
.mobile-todo-type ul a {
	text-decoration: none;
	color: rgba(128, 128, 128, 0.895);
}

.todo-type ul li,
.mobile-todo-type ul li {
	margin: 0 5px;
	/* cursor: pointer; */
}

.mini-nav p:hover,
.todo-type ul li a:hover,
.mobile-todo-type ul li a:hover {
	color: var(--color-white);
}

/* .activeLink a {
	color: #445c99;
} */

/* Media Queries */

@media (min-width: 1299px) {
	.todo-main {
		color: var(--color-white);
		background: transparent;
		/* background-color: #cc894d; */
		width: 46%;
		margin: -220px auto;
		height: 20vmax;
		padding: -10px;
	}
}
@media (max-width: 1298px) {
	.todo-main {
		color: var(--color-white);
		background: transparent;
		/* background-color: #cc894d; */
		width: 56%;
		margin: -220px auto;
		height: 20vmax;
		padding: -10px;
	}
}
@media (max-width: 1000px) {
	.todo-main {
		color: var(--color-white);
		background: transparent;
		/* background-color: #cc894d; */
		width: 56%;
		margin: -220px auto;
		height: 20vmax;
		padding: -10px;
	}
}
@media (max-width: 998px) {
	.todo-main {
		color: var(--color-white);
		background: transparent;
		/* background-color: #cc894d; */
		width: 66%;
		margin: -220px auto;
		height: 20vmax;
		padding: -10px;
	}
}
@media (max-width: 878px) {
	.todo-main {
		color: var(--color-white);
		background: transparent;
		/* background-color: #cc894d; */
		width: 66%;
		margin: -220px auto;
		height: 20vmax;
		padding: -10px;
	}
}
@media (max-width: 876px) {
	.todo-main {
		color: var(--color-white);
		background: transparent;
		/* background-color: #cc894d; */
		width: 70%;
		margin: -220px auto;
		height: 20vmax;
		padding: -10px;
	}
}
@media (max-width: 800px) {
	.todo-main {
		color: var(--color-white);
		background: transparent;
		/* background-color: #cc894d; */
		width: 72%;
		margin: -220px auto;
		height: 20vmax;
		padding: -10px;
	}
}
@media (max-width: 750px) {
	.todo-main {
		color: var(--color-white);
		background: transparent;
		/* background-color: #cc894d; */
		width: 76%;
		margin: -220px auto;
		height: 20vmax;
		padding: -10px;
	}
}
@media (max-width: 699px) {
	.todo-main {
		color: var(--color-white);
		background: transparent;
		/* background-color: #cc894d; */
		width: 88%;
		margin: -220px auto;
		height: 20vmax;
		padding: -10px;
	}
}
@media (max-width: 620px) {
	.todo-main {
		color: var(--color-white);
		background: transparent;
		/* background-color: #cc894d; */
		width: 90%;
		margin: -220px auto;
		height: 20vmax;
		padding: -10px;
	}
}
@media (max-width: 570px) {
	.todo-main {
		color: var(--color-white);
		background: transparent;
		/* background-color: #cc894d; */
		width: 92%;
		margin: -220px auto;
		height: 20vmax;
		padding: -10px;
	}
}
@media (max-width: 550px) {
	.todo-main {
		color: var(--color-white);
		background: transparent;
		/* background-color: #cc894d; */
		width: 98%;
		margin: -220px auto;
		height: 20vmax;
		padding: -10px;
	}
}

/* Mini Nav */

@media (max-width: 525px) {
	.mini-nav {
		padding: 10px 15px;

		width: 100%;
		font-size: 0.9rem;
	}
}

@media (max-width: 450px) {
	.mini-nav {
		padding: 10px 8px;

		width: 100%;
		font-size: 0.8rem;
	}
}

/* Todos */
@media (max-width: 525px) {
	.todo-item {
		font-size: 0.9rem;
		font-weight: 500;
	}
}

/* Todo-Input */

@media (max-width: 475px) {
	.todo-input,
	.todo-border {
		padding: 8px 20px;
	}
}

@media (max-width: 400px) {
	* {
		font-size: 0.8rem;
	}

	.text-input {
		font-size: 0.9rem;
	}

	.checkmark {
		height: 20px;
		width: 20px;
	}

	.container .checkmark:after {
		left: 6px;
		top: 3px;
		width: 3px;
		height: 8px;
	}
}

@media (min-height: 1038px) {
	.solid-color-container {
		width: 100%;
		height: 71%;
		top: 396px;
	}
}

.mobile {
	display: none;
}
@media (max-width: 520px) {
	.todo-type ul {
		display: none;
	}

	.mobile {
		display: flex;
	}
}
